@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/bootstrap-utilities';
@import 'assets/layout/layout.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--primary-color);
  color: #000;
}

::-moz-selection {
  background-color: var(--primary-color);
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.pointer {
  cursor: pointer;
}

a {
  color: var(--font-color);
}

.text-primary {
  color: var(--primary-color) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.min-vh-50 {
  min-height: 50vh;
}

.p-dropdown {
  width: 100%;
}